/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/framework/testing/*
.env
.env.backup
.env.production
/vendor
/node_modules
/public/build
/public/storage
.phpunit.result.cache
.phpactor.json
/.cursor/
/.idea
/.vscode
/.phpunit.cache
Thumds.db
*.log
.DS_Store
auth.json
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
.php_cs
.php-cs-fixer.cache
.php-cs-fixer.dist.php
